@model Radnik

@{
	ViewData["Title"] = "Azuriraj Radnika";
}

<div class="row text">
	<div class="col-md-8 offset-2">
		<p>
			<h1>Izmeni Radnika</h1>
		</p>
		<div class="row">
			<div class="col-md-8 offset-2">
				<form asp-action="Izmeni">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>

					<input type="hidden" asp-for="User" />

					<label asp-for="User" class="control-label">User</label>
					<input asp-for="User" class="form-control" disabled />
					<div class="form-group">
						<label asp-for="Password" class="control-label">Password</label>
						<input asp-for="Password" class="form-control" />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label asp-for="Ime" class="control-label">Ime</label>
						<input asp-for="Ime" class="form-control" />
						<span asp-validation-for="Ime" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label asp-for="Prezime" class="control-label">Prezime</label>
						<input asp-for="Prezime" class="form-control" />
						<span asp-validation-for="Prezime" class="text-danger"></span>
					</div>

					<div class="form-group pt-3">
						<a class=" btn btn-outline-secondary" asp-action="Index">Prikazi Sve</a>
						<input type="submit" value="Azuriraj" class="btn btn-outline-success float-end" />
					</div>
				</form>
			</div>

		</div>

	</div>
</div>