@model Radnik

@{
	ViewData["Title"] = "Radnik Nije Pronadjen";
}

<div class="container align-text-center">
	<p>
		<h1>Radnik Nije Pronadjen</h1>
	</p>
	<p>
		<a class=" btn btn-lg btn-outline-secondary float-end" asp-action="Index">Prikazi Sve</a>
	</p>
	

</div>
		
